.snackbar {
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.success {
    background-color: #4caf50;
}

.success:before {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 120%;
    content: '\e86c';
}

.error {
    background-color: #f44336;
}

.error:before {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 120%;
    content: '\e000';
}

.info {
    background-color: blue;
}


.info:before {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 120%;
    content: '\e88e';
}

.snackbar-enter {
    transform: translateY(-20px);
    opacity: 0;
}

.snackbar-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.snackbar-exit {
    transform: translateY(0);
    opacity: 1;
}

.snackbar-exit-active {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}