.toast-component {
    position: fixed;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    gap: 0.5rem;
    z-index: 9999;
    width: 25em;
    left: 50%;
    transform: translateX(-50%);
}

.mysnackbar {
    z-index: 999;
    position: relative !important;
    top: unset !important;
    transform: unset !important;
    width: 100%;
    padding: 0.6em;
    display: flex;

    nav {
        margin-block-start: 0 !important;
        gap: 0 !important;
    }
}

.success {
    background-color: #4caf50;
}

.success:before {
    content: '\e86c';
}

.warning {
    background-color: rgba(247, 178, 51);
}

.warning:before {
    content: '\e000';
}

.error {
    background-color: #f44336;
}

.error:before {
    content: '\e000';
}

.info {
    background-color: blue;
}

.info:before {
    content: '\e88e';
}


.info:before,
.success::before,
.error:before {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 160%;
    margin-right: 0.6em;
    display: flex;
    align-items: center;
}



.mysnackbar-enter {
    transform: translateY(30px);
    opacity: 0;
}

.mysnackbar-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.mysnackbar-exit {
    transform: translateY(0);
    opacity: 1;
}

.mysnackbar-exit-active {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}